.cards {     
    list-style-type: none; 
    padding-bottom: 10px;  
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards li {
    margin-left: 10px;
}

.home {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10%;
}


