
.container {
  color: #3f51b5;
  background-color: #F6FCFF;
  padding-top: 102px;
  min-height: 60vh;
}

.container input[type=number] {
  -moz-appearance:textfield;
}

.container p
{
  color: #666666;
}


body {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #AAA
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif; 
}

a:hover,
nav button:hover {
  color: #0075FF;
}

/* form styles */
form {
  max-width: 40%;
  margin: 0 auto; /* centraliza automaticamente */
}

label {
  color: #383838;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #CCC;
  padding: .8em 0;
  background-color: transparent;
}

.btn1 {
  background-color: #3f51b5;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #0075FF;
  border: 1px solid #0075FF;
  padding: 7px 30px;
  border-radius: 4px;
}

.btn1:hover {
  background-color: #0075FF;
  color: #FFF;
}

.btn.btn-outline:hover {
  background-color: #0075FF;
  color: #FFF;  
}

.btnCarroussel {
  color: #3f51b5;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}

.container .sucess {
  color: #1a400e;
  background-color: #d0f2d0;
  border: 1px solid #c2f2d0;
  padding: 5px;
  border-radius: 5px;
}

/* paginacao */

.botaoPaginacao {
  color: #0075FF;
  border: 1px solid #0075FF;
}

.botaoPaginacao:hover {
  background-color: #0075FF;
  color: #FFF;
}


.botaoPaginacao button[disabled] {    
  border: 1px solid #8dbbf0;
  color: #8dbbf0;
}

.produtosPreco {
  color: #3f51b5;
}


/* cupons */

.icone {
  color: #3f51b5;
  font-size: 50px;
  padding-left: 6em    
  }


/*navbar*/
.brand span {
  color: #3f51b5;
  font-weight: 900;
  text-transform: uppercase
}

.brand  {       
  font-size: 1.2em;
  margin-left: 10px;
}

.activel {
  transition: all 1s ease-out;
  background-color: #3f51b5;
  color: #fff;  
}

/* perfil */

.activePerfil {
  color: #3f51b5;
  font-weight: bold; 
  transition: 0.3s ease-in;
  -webkit-transition: 0.2s ease-in;
}

/* red theme */

#red-theme a:hover,
nav button:hover {
  color: #ff6374;
}

#red-theme .container {
  background-color: #F6FCFF;
  color: #ff6374;
}

#red-theme .btn.btn-outline:hover {
  background-color: #ff6374;  
  color: #FFF;
}

#red-theme .btn1:hover {
  background-color: #fc929e;
  color: #FFF;
}

#red-theme .btn.btn-outline {
  color: #ff6374;
  border: 1px solid #ff6374;
}

#red-theme .btn1{  
  background-color: #ff6374;;
  color: #FFF; 
}

/* red-theme */

#red-theme .activel {
  transition: all 1s ease-out;
  background-color: #ff6374; 
  color: #fff;  
}

#red-theme  .brand span {
  color: #ff6374;
  font-weight: 900;
  text-transform: uppercase
}

#red-theme .btnCarroussel {
  color: #ff6374;  
}

/*cupons red-theme */

#red-theme .icone {
  color: #ff6374;
  font-size: 50px;
  padding-left: 6em    
  }

/* paginacao red-theme */

#red-theme .botaoPaginacao {
  color: #ff6374;
  border: 1px solid #ff6374;
}

#red-theme .botaoPaginacao:hover {
  background-color: #ff6374;  
  color: #FFF;
}


#red-theme .botaoPaginacao button[disabled] {    
  border: 1px solid #f7bec5 ; 
  color: #f7bec5 ; 
}

#red-theme .activePerfil {
  color: #ff6374;
  font-weight: bold; 
  transition: 0.3s ease-in;
  -webkit-transition: 0.2s ease-in;
}

#red-theme  .produtosPreco {
  color: #ff6374;
}


//green-theme container//

#green-theme .container {
  background-color: #ffffed;
  color: #224305;
}

/* green */

#green-theme a:hover,
nav button:hover {
  color: #224305;
}

#green-theme .container {
  background-color: #F6FCFF;
  color: #224305;
}

#green-theme .btn.btn-outline:hover {
  background-color: #224305;  
  color: #FFF;
}

#green-theme .btn1:hover {
  background-color: #8f9200;
  color: #FFF;
}

#green-theme .btn.btn-outline {
  color: #224305;
  border: 1px solid #224305;
}

#green-theme .btn1{  
  background-color: #224305;;
  color: #FFF; 
}

/* green-theme */

#green-theme .activel {
  transition: all 1s ease-out;
  background-color: #224305; 
  color: #fff;  
}

#green-theme  .brand span {
  color: #224305;
  font-weight: 900;
  text-transform: uppercase
}

#green-theme .btnCarroussel {
  color: #224305;  
}

/*cupons red-theme */

#green-theme .icone {
  color: #224305;
  font-size: 50px;
  padding-left: 6em    
  }

/* paginacao red-theme */

#green-theme .botaoPaginacao {
  color: #224305;
  border: 1px solid #224305;
}

#green-theme .botaoPaginacao:hover {
  background-color: #224305;  
  color: #FFF;
}

#green-theme .botaoPaginacao button[disabled] {    
  border: 1px solid #fce064 ; 
  color: #fce064 ; 
}

#green-theme .activePerfil {
  color: #224305;
  font-weight: bold; 
  transition: 0.3s ease-in;
  -webkit-transition: 0.2s ease-in;
}

#green-theme  .produtosPreco {
  color: #224305;
}

