
.container {
  color: #404040;
  background-color: #F6FCFF;
  padding-top: 102px;
  min-height: 60vh;
}

.container input[type=number] {
  -moz-appearance:textfield;
}


body {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #AAA
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif; 
}

a:hover,
nav button:hover {
  color: #0075FF;
}

/* form styles */
form {
  max-width: 40%;
  margin: 0 auto; /* centraliza automaticamente */
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #CCC;
  padding: .8em 0;
  background-color: transparent;
}

.btn1 {
  background-color: #3f51b5;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #0075FF;
  border: 1px solid #0075FF;
  padding: 7px 30px;
  border-radius: 4px;
}

.btn1:hover {
  background-color: #0075FF;
  color: #FFF;
}

.btn.btn-outline:hover {
  background-color: #0075FF;
  color: #FFF;  
}

.btnCarroussel {
  color: #3f51b5;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}

/* cupons */

.icone {
  color: #3f51b5;
  font-size: 50px;
  padding-left: 6em    
  }


/*navbar*/
.brand span {
  color: #3f51b5;
  font-weight: 900;
  text-transform: uppercase
}

.brand  {       
  font-size: 1.2em;
  margin-left: 10px;
}

.activel {
  transition: all 1s ease-out;
  background-color: #3f51b5;
  color: #fff;  
}

//yellow-theme

#yellow-theme .container {
  background-color: #ffffed;
  color: #ffce39;
}

/* red theme */

a:hover,
nav button:hover {
  color: #ff6374;
}

#red-theme .container {
  background-color: #F6FCFF;
  color: #ff6374;
}

#red-theme .btn.btn-outline:hover {
  background-color: #ff6374;  
  color: #FFF;
}

#red-theme .btn1:hover {
  background-color: #fc929e;
  color: #FFF;
}

#red-theme .btn.btn-outline {
  color: #ff6374;
  border: 1px solid #ff6374;
}

#red-theme .btn1{  
  background-color: #ff6374;;
  color: #FFF; 
}

/* red-theme */

#red-theme .activel {
  transition: all 1s ease-out;
  background-color: #ff6374; 
  color: #fff;  
}

#red-theme  .brand span {
  color: #ff6374;
  font-weight: 900;
  text-transform: uppercase
}

.btnCarroussel {
  color: #ff6374;  
}



/*cupons red-theme */

#red-theme .icone {
  color: #ff6374;
  font-size: 50px;
  padding-left: 6em    
  }