.paginacao {
    display: flex;
    list-style: none;
}

.paginacao li{
    margin-left: 3px;
    margin-right: 3px;

}

.paginacao button {
    font-size: 10px;
    background-color: transparent;
    border-radius: 0;
    padding: 5px 8px;
    border-radius: 4px;
}

